<!-- templates/show_all_dbrecipes.html -->
<!-- recipe/templates/recipe/show_all_dbrecipes.html -->
<!-- show all db recipes -->

{% extends 'recipe/base.html' %}
{% block content %}
<h2 style="margin-left: 70px;">Database Recipes</h2>
<main class="grid-container">
    {% for r in dbrecipes %}
    <article class="grid-item">
        <a href="{% url 'dbrecipe' r.pk %}">
                <h2 class="db-title">{{ r.title }}</h2>
                <h3>by {{r.author}}</h3>
                {% if r.description %}
                    <p class="db-description">{{ r.description }}</p>
                {% else %}
                    <p class="db-description">Click to read more!</p>
                {% endif %}
                
        </a>
        <br><br>
        <p style="margin-top: -20px; font-weight: 800;">Total Likes: {{r.get_likes|length}}</p>
        <p style="margin-top: -40px; font-weight: 800;">Total Saves: {{r.get_cookbooks|length}}</p>

        
    {% if request.user.is_authenticated and user_account != r.author %}
        <div style="display: flex; justify-content: flex-end;">

        <a href="{% url 'add_db_cookbook' r.pk %}" 
        style="color: black; margin-right: 10px; font-weight: 900;"
        onmouseover="this.style.transform='scale(2)'" onmouseout="this.style.transform='scale(1)'">
        +</a>

        {% if r in user_account.get_dblikes %}
                <a href="{% url 'remove_dblike' r.pk %}?next={{ request.path }}" style="color:red"
                onmouseover="this.style.transform='scale(2)'" onmouseout="this.style.transform='scale(1)'">
                    &#x2764;
                </a>
        {% else %}
                <a href="{% url 'add_dblike' r.pk %}?next={{ request.path }}" style="color: black"
                onmouseover="this.style.transform='scale(2)'" onmouseout="this.style.transform='scale(1)'">
                    &#x2764;
                </a>
        {% endif %}
        </div>
    {% endif %}
    </article>    
    {% endfor %}
    <hr>
</main>

{% if is_paginated %}
    <div class="box" style="text-align: center; width: fit-content;">

        <ul class="pagination">
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}" class="page_nav">Previous</a></span>
                
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li >
                    <span><a href="?page={{ page_obj.next_page_number }}" class="page_nav">Next</a></span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}

{% endblock %}