<!-- templates/show_all_profiles.html -->
<!-- mini_fb/templates/mini_fb/show_all_profiles.html -->

{% extends 'mini_fb/base.html' %}
{% block content %}
<main class="grid-container">
            <img class="profile-img" src="{{profile.image_url}}" alt="{{article.image_url}}">
            <div> 
                <h2>{{profile.first}} {{profile.last}}</h2>
                <h3>{{profile.city}}</h3>
                <h3>{{profile.email}}</h3>  
                <a class="status-button" style="display: inline-block; margin-top: 10px; " href="{% url 'update_profile' profile.pk %}">Update Profile</a>
            </div> 
</main>

<!-- show the StatusMessages -->
<div class="box">
    <br>
    <a class="status-button" href="{% url 'create_status' profile.pk %}">Create Status Message</a>
    {% if profile.get_statusmessages %}
        <h2>Status Messages</h2>
        <!-- call the get_statusmessages method on the article object -->
        <!-- {{article.get_statusmessages}} -->
        {% for s in profile.get_statusmessages %}
        <div class="box2">
            {% for img in s.get_images %}
                <img class="post-img" src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
            {% endfor %}
            <br>
            <div class="box3">
                <strong> {{s.profile.first}} {{s.profile.last}} at {{s.timestamp}}</strong>
                <p>{{s.message}}</p>
            </div>
            <div style="margin: 20px;">
                <a class="status-button" style="font-size: 12px;" href="{% url 'update_status' s.pk %}">Update</a> 
                <a class="status-button" style="font-size: 12px;" href="{% url 'delete_status' s.pk %}">Delete</a> 
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h2>No StatusMessages</h2>
    {% endif %}
</div>
{% endblock %}