<!-- templates/show_all_profiles.html -->
<!-- mini_fb/templates/mini_fb/show_all_profiles.html -->

{% extends 'mini_fb/base.html' %}
{% block content %}
<h2 style="margin-left: 130px;">Showing All Profiles</h2>
<main class="grid-container">
    {% for p in profiles %}
    <article>
        <a href="{% url 'profile' p.pk %}">
        {% if p.image_url %}
        <img src="{{p.image_url}}" alt="{{p.image_url}}">
        {% endif %}
        </a>

        <div>
            <a href="{% url 'profile' p.pk %}"> 
                <h2>{{p.first}} {{p.last}}</h2>
            </a>
            <strong>{{p.city}}</strong>
        </div>
    </article>
    
    
    {% endfor %}
</main>

<p>Total Profiles: {{ profiles|length }}</p>
{% endblock %}