<!-- mini_fb/templates/mini_fb/update_profile_form.html -->

{% extends 'mini_fb/base.html'  %}

{% block content %}

<div class="box">
    <h2>Update Profile</h2>

    <form method="POST">
    {% csrf_token %}
    <!-- simple way to display the form, all one line -->
    <!-- {{form}} -->

    <!-- each field on its own line -->
    <!-- {{form.as_p}} -->
    <table>
        {% for field in form %}
        <tr>
            <th>{{field.label}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input class="submit" type='submit' name = 'update_profile' value= 'Update Profile!'>
                <form action="{% url 'profile' profile.pk %}">
                    <input class="cancel" type='submit' name = 'cancel' value= 'Cancel Update'>
                </form>
            </td>
        </tr>
        </table>
</div>



{% endblock %}